<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>APT End to End Order</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8966d">  <td>20/10/08 11:58:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:com.colt.qa.apttestscripts.APT_MCS_CreateOrder_IPVPNPlus@4678c730]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>20/10/08 11:58:32</td>   <td>-2718</td> <td title="&gt;&gt;DriverTestcase.BeforeSuite()[pri:0, instance:com.colt.qa.apttestscripts.APT_MCS_CreateOrder_IPVPNIPSec@548a9f61]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>20/10/08 11:58:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APT_MCS_CreateOrder_IPVPNPlus.CreateCustomer(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.APT_MCS_CreateOrder_IPVPNPlus@4678c730]">CreateCustomer</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>20/10/08 11:58:37</td>   <td>2063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APT_MCS_CreateOrder_IPVPNIPSec.CreateCustomer(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.APT_MCS_CreateOrder_IPVPNIPSec@548a9f61]">CreateCustomer</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>20/10/08 11:58:38</td>   <td>2477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APT_MCS_CreateOrder_IPVPNCPESolutionL3.CreateCustomer(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.APT_MCS_CreateOrder_IPVPNCPESolutionL3@c038203]">CreateCustomer</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>20/10/08 11:58:36</td>   <td>359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.getResult(org.testng.ITestResult)[pri:0, instance:com.colt.qa.apttestscripts.APT_MCS_CreateOrder_IPVPNPlus@4678c730]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>20/10/08 11:58:33</td>   <td>-2421</td> <td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.startReport()[pri:0, instance:com.colt.qa.apttestscripts.APT_MCS_CreateOrder_IPVPNIPSec@548a9f61]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1122134344</td>   <td></td> </tr>
</table>
