<h2>Methods that were not run</h2><table>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.BeforeSuite</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.BeforeSuite</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.BeforeSuite</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.BeforeSuite</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.endReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.endReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.endReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.endReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.startReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.startReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.startReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.startReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.closeReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.closeReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.closeReport</td></tr>
<tr><td>com.colt.qa.driverlibrary.DriverTestcase.closeReport</td></tr>
</table>