<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>APT Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dafa95">  <td>20/11/11 19:02:05</td>   <td>0</td> <td title="&gt;&gt;DriverTestcase.BeforeSuite()[pri:0, instance:com.colt.qa.apttestscripts.APT_DomainManagementTest@6fc6f14e]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/11/11 19:02:06</td>   <td>408</td> <td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.startReport()[pri:0, instance:com.colt.qa.apttestscripts.APT_DomainManagementTest@6fc6f14e]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/11/11 19:02:08</td>   <td>2095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:com.colt.qa.apttestscripts.APT_DomainManagementTest@6fc6f14e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@105127561</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>20/11/11 19:02:08</td>   <td>2096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APT_DomainManagementTest.DomainManagementService(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.APT_DomainManagementTest@6fc6f14e]">DomainManagementService</td> 
  <td>pool-1-thread-2@105127561</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/11/11 19:02:08</td>   <td>2900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:com.colt.qa.apttestscripts.APT_SANManagementTest@18eed359]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-3@2034110728</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>20/11/11 19:02:08</td>   <td>2900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APT_SANManagementTest.verifySearchforSAN(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.APT_SANManagementTest@18eed359]">verifySearchforSAN</td> 
  <td>pool-1-thread-3@2034110728</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/11/11 19:02:09</td>   <td>3318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:com.colt.qa.apttestscripts.APT_ManageNetworkTest@6c3708b3]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@183456383</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>20/11/11 19:02:09</td>   <td>3318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APT_ManageNetworkTest.managenetwork(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.APT_ManageNetworkTest@6c3708b3]">managenetwork</td> 
  <td>pool-1-thread-1@183456383</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/11/11 19:04:25</td>   <td>139806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.getResult(org.testng.ITestResult)[pri:0, instance:com.colt.qa.apttestscripts.APT_SANManagementTest@18eed359]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>pool-1-thread-3@2034110728</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/11/11 19:04:25</td>   <td>140040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APT_NGINMessageTest.verifyNGINMessage(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINMessageTest@3e9b1010]">verifyNGINMessage</td> 
  <td>pool-1-thread-3@2034110728</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>20/11/11 19:04:26</td>   <td>140165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DDI_Test.DDIRange(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.DDI_Test@520a3426]">DDIRange</td> 
  <td>pool-1-thread-3@2034110728</td>   <td></td> </tr>
</table>
