<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95b478">  <td>20/11/05 14:38:42</td>   <td>0</td> <td title="&gt;&gt;DriverTestcase.BeforeSuite()[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINTest@735b5592]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/11/05 14:38:42</td>   <td>594</td> <td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.startReport()[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINTest@735b5592]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/11/05 14:38:45</td>   <td>3548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverTestcase.BeforeMethod(java.lang.reflect.Method, org.testng.ITestContext, [Ljava.lang.Object;)[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINTest@735b5592]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>20/11/05 14:38:45</td>   <td>3548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APT_NGINTest.NGINService(java.util.Map)[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINTest@735b5592]">NGINService</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/11/05 14:48:14</td>   <td>571960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.getResult(org.testng.ITestResult)[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINTest@735b5592]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/11/05 14:48:25</td>   <td>582717</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.Teardown()[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINTest@735b5592]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/11/05 14:48:25</td>   <td>582717</td> <td>&nbsp;</td><td title="&lt;&lt;DriverTestcase.endReport()[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINTest@735b5592]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="95b478">  <td>20/11/05 14:48:26</td>   <td>584010</td> <td title="&lt;&lt;DriverTestcase.closeReport()[pri:0, instance:com.colt.qa.apttestscripts.APT_NGINTest@735b5592]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
</table>
